:root {
  --container-width: 960px;
  --container-padding: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a:focus {
  outline: auto 5px Highlight; /* for non-webkit browsers */
  outline: auto 5px -webkit-focus-ring-color; /* for webkit browsers */
}

section {
  transition: background-color 0.3s ease, border 0.3s ease, padding 0.3s ease;
  border: 2px solid transparent;
  scroll-margin-top: 50px;
  padding: 5px;
  /* Add any other properties you're changing in .section--active */
}

.section--active {
  border: 2px solid #555; /* Example of highlighting, adjust as needed */
  background-color: rgba(85, 85, 85, 0.1); /* Light background highlight */
}