:root {
  --container-width: 700px;
  --container-padding: 1rem;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #553071;
}


[data-theme="dark"] {
  --bg-color: #1E1E1E;
  --text-color: #ffffff;
  --accent-color: #CEC8FB;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1E1E1E;
    --text-color: #ffffff;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  text-align: justify;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--accent-color);
  border-bottom: 2px dotted var(--text-color);
  text-decoration: none;
}

a:hover {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  /* color: #FFF;
  background-color: var(--accent-color); */
}

button {
  cursor: pointer;
}

a:focus {
  outline: auto 5px Highlight; /* for non-webkit browsers */
  outline: auto 5px -webkit-focus-ring-color; /* for webkit browsers */
}

section {
  transition: background-color 0.3s ease, border 0.3s ease, padding 0.3s ease;
  border: 2px solid transparent;
  scroll-margin-top: 50px;
  padding: 5px;
  /* Add any other properties you're changing in .section--active */
}

.section--active {
  border: 2px solid #555; /* Example of highlighting, adjust as needed */
  background-color: rgba(85, 85, 85, 0.1); /* Light background highlight */
}

.hidden {
  display: none;
}