---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Lauro Figueiredo",
  description: "Dog dad. Web developer. RPG enthusiast.",
};
---

<Layout seo={seo}>
  <Container>
    <h1>Lauro Figueiredo</h1>
    <p>Welcome to my small space :)</p>

    <a href="/hire">CV</a>
    <a href="/tech">Tech blog</a>
    <a href="/me">Personal blog</a>
    <a href="/dad">Dad blog?</a>
  </Container>
</Layout>
