---
import Page from "../layouts/Page.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Interests | Lauro",
  description: "",
};
---

<Page seo={seo}>
  <h2>Programming/automation</h2>
  <p>
    I hope this is not too obvious, but I really love programming and specially
    programming automations. Anything that will make my life easier is worth spending
    time on.
  </p>

  <h2>Linguistics</h2>
  <p>

  </p>

  <h2>Pirates</h2>
  <p></p>

  <h2>One Piece</h2>
  <p>
    Still on the pirates topic. Started watching the anime in 2020, on
    quarentine. Caught up with both the anime and the manga in 2023. Now I'm in
    the constant state of waiting for the next chapter.
  </p>

  <h2>Biking</h2>
  <p>
    I love biking. I'm not a pro, but I love to ride around the city.
  </p>

  <h2>Folk music</h2>
  <p>
    I'm completely obsessed with many variations of folk music. Also, I'm
    technically a folk musician myself. I play the mandolin and the violin, and
    I'm always looking for new songs to learn.

    <ul>
      <li>Irish music</li>
      <li>Scottish music</li>
      <li>Neapolitan music</li>
      <li>Polka</li>
      <li>Cuban music</li>
      <li>Choro, Samba, Forr칩, Bai칚o, MPB, Maracat칰,</li>
    </ul>
  </p>

  <h2>Musical instruments</h2>
  <p>
    I have a relatively large musical instrument collection.

    <ul>
      <li>Brazilian mandolin 游릴</li>
      <li>Violin 游릴</li>
      <li>Guitar 游릴</li>
      <li>Viola caipira (Brazilian viola) 游린</li>
      <li>Tin whistle 游릳</li>
      <li>Low whistle 游린</li>
      <li>Soprano recorder 游릳</li>
      <li>Alto recorder 游릳</li>
      <li>Harmonica 游린</li>
      <li>Karlsfeld Concertina from 1940 游린</li>
    </ul>
  </p>

  <h2>Dogs</h2>
  <p>I would die for a dog I've known for 10 minutes.</p>

  <h2>Gadgets/tech</h2>
  <p></p>

  <h2>Travel</h2>
  <p></p>

  <h2>RPG</h2>
  <p>
    Dungeons and Dragons, Avatar Legends and Tormenta 20.
  </p>

  <a href="https://chrisburnell.github.io/interests-directory/" target="_blank"
    >Interests directory</a
  >
</Page>
