---
import Page from "../layouts/Page.astro";

const seo = {
  title: "Nope | Lauro",
  description: "",
};
---

<Page seo={seo}>
  <p>List of things I have absolutely no interest.</p>

  <ul>
    <li>Cookie banners</li>
    <li>Low-contrast text</li>
    <li>Coconuts</li>
    <li>Family group chats</li>
  </ul>
</Page>
