---
import { Image } from "astro:assets";
import Page from "../layouts/Page.astro";

const seo = {
  title: "Paçoca!!!!!!!!!",
  description: "Paçoca!",
};
---

<Page seo={seo}>
  <h1>🥜 Paçoca 🐕</h1>

  <p>
    <em
      >AKA: Papota, Pacote, Picesa, Cheirosa, Fedida, Patota, Mijotinhas, Paxoca,
      Piquesa, Men, Vagabunda, Pilantra, Mozão, Piroca, Folgada, Filha, Paroca,
      Popota, Safada, Peituda, Pororoca, Pipoca, Paizinho</em
    >
  </p>

  <Image
    src="/assets/pacoca/cool-pacoca.jpg"
    width={600}
    height={800}
    loading="eager"
    alt=""
  />

  <Image
    src="/assets/pacoca/hungry-pacoca.jpg"
    width={450}
    height={800}
    loading="lazy"
    alt=""
  />

  <Image
    src="/assets/pacoca/intelligent-pacoca.jpg"
    width={480}
    height={640}
    loading="lazy"
    alt=""
  />

  <Image
    src="/assets/pacoca/lazy-pacoca.jpg"
    width={480}
    height={640}
    loading="lazy"
    alt=""
  />

  <Image
    src="/assets/pacoca/school-pacoca.jpg"
    width={480}
    height={640}
    loading="lazy"
    alt=""
  />
  <Image
    src="/assets/pacoca/model-pacoca.jpg"
    width={480}
    height={640}
    loading="lazy"
    alt=""
  />

  <Image
    src="/assets/pacoca/smile-pacoca.jpg"
    width={480}
    height={640}
    loading="lazy"
    alt=""
  />

  <Image
    src="/assets/pacoca/sleepy-pacoca.jpg"
    width={480}
    height={640}
    loading="lazy"
    alt=""
  />

  <Image
    src="/assets/pacoca/baby-pacoca.jpg"
    width={480}
    height={640}
    loading="lazy"
    alt=""
  />
</Page>

<style>
  img {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
  }

  h1,
  p {
    text-align: center;
  }

  em {
    font-size: 0.9rem;
  }
</style>
