<footer>
  <hr />
  Interested on how this website was built? <a target="_blank" href="https://github.com/lsfgrd/lauro.xyz">Check the Git repository here.</a>
</footer>

<style>
  footer {
    padding-bottom: 50px;
    text-align: right;
  }
</style>
